.bg-main {
    background-color: #191818 !important;
}

.text-main {

}

.text-orange {
    color: #f8a000;;
}

.bg-orange {
    background-color: #f8a000;
}

.border-orange {
    border-color: #f8a000 !important;
}

.carousel-caption {
    bottom: 50% !important;
}

.hr {
    border-top: 3px solid white;
    opacity: 1;
    width: 150px;
    margin: 0 auto;
}

.icon {
    width: 65px !important;
}

.nav-tabs .nav-link.active {
    background-color: #f8a000 !important;
    color: white !important;
    border: none !important;
}

.menu-bg {
    background-color: #31302d !important;
}

.input-bg, .input-bg-focus {
    background-color: #383838 !important;
}

#scrollToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.auth-card {
    background-color: #31302d;
    border: 1px solid #444;
    border-radius: 12px;
}

#snackbar {
    margin: 0 auto;
    max-width: 250px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px 20px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    z-index: 1;
    transform: translateX(-50%);
    visibility: hidden;
}

#snackbar.show {
    visibility: visible;
}